<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link
    href="https://fonts.googleapis.com/css2?family=Baskervville+SC&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=UnifrakturMaguntia&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="../dracula.css">
  <link rel="stylesheet" href="../style.css">
  <style>
    code {
      background-color: #282a36;
      color: #50fa7b;
      padding: 0.1rem 0.2rem;
      border-radius: 0.25rem;
      font-family: 'Jetbrain Mono', monospace;
    }
  </style>

</head>

<body class="min-h-screen pt-[10vh] bg-[#303030]">
  <nav class="fixed top-0 left-0 z-50 w-full bg-[#717171] py-2">
    <ul class="flex justify-around">
      <li class="flex-1 text-center">
        <a href="../"
          class="text-white block px-4 py-2 transition-colors duration-300 hover:text-red-500 font-serif text-lg">Home</a>
      </li>
      <li class="flex-1 text-center">
        <a href="../about/"
          class="text-white block px-4 py-2 transition-colors duration-300 hover:text-red-500 font-serif text-lg">About</a>
      </li>
    </ul>
  </nav>

  <main class="max-w-[800px] mx-auto mt-[10vh] px-4">
    <div class="text-center text-white mb-8">
      <h1 class="font-garamond text-[2.5em] italic">{{ title }}</h1>
      <div class="flex justify-center gap-4 text-white">
        <div class="author text-lg font-jetbrains">{{ author }}</div>
        <div class="date text-lg font-jetbrains">{{ date }}</div>
      </div>
    </div>

    <article class="prose max-w-none">
      <div
        class="space-y-4 text-white first-letter:float-left text-[1.2em] first-letter:text-[#800020] first-letter:text-7xl first-letter:pr-4 font-wittgenstein">
        {{ content|safe }}</div>
    </article>
  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll('pre code').forEach((block) => {
        hljs.highlightAll();
      });
    });
  </script>
</body>

</html>
