<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sicarii</title>
  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <main>
    <div class="columns">
      <!-- Left column -->
      <div class="left-col">
        <h1 class="title">Sicarii</h1>
        <div class="divider"></div>
        <div class="about">
          <p>
            Sicarii is, roughly, a portfolio website for Nico Ohayon Rozanes. It contains various musings,
            write-ups of projects, and technical curiosities. Biographically, Nico is a Data Science and
            Mathematics junior studying at the University of Texas in Dallas. "Sicarii" is mostly just a word that I
            like. This site is forever under construction; following are the aforementioned articles and writeups.
          </p>
        </div>
      </div>

      <div class="right-col">
        <section class="articles">
          {% for article in articles %}
          <a href="{{ article.link }}" class="article-link">
            <h2>{{ article.title }}</h2>
            <p class="subtitle">{{ article.subtitle }}</p>
            <p class="date">{{ article.date }}</p>
            <div class="overlay">
              <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0,0 100,0 0,15" />
              </svg>
            </div>
          </a>
          {% endfor %} 
        </section>
      </div>
    </div>
  </main>
</body>
</html>

